#chatUI {
  width: 350px;
  height: 500px;
  position: fixed;
  display: block;
  z-index: 10;
  background-color: whitesmoke;
  right: 1%;
  top: 1%;
  opacity: 0.6;
}
.chatTab {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.chatTab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  z-index: 10;
}
.chatTab button:hover {
  background-color: #ddd;
  z-index: 10;
}
.chatTab button.active {
  background-color: #ccc;
  z-index: 10;
}
.chatTabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
}
.pm-div {
  position: absolute;
  width: 350px;
  height: 400px;
  display: block;
  z-index: 10;
  background-color: transparent;  
  opacity: 0.6;  
}
.chat-div {
  position: absolute;
  width: 350px;
  height: 400px;
  display: block;
  z-index: 10;
  background-color: transparent;  
  opacity: 0.6;  
}
.chatMessage {
  width: 300px;
  height: 320px;
  overflow: auto;
  z-index: 10;
}
.pm-messages {
  width: 300px;
  height: 320px;
  overflow: auto;
  z-index: 10;
}

.ava-actions {
  position: absolute;
  display: none;
  z-index: 10;	
}
.chair-actions {
  position: absolute;
  display: none;
  z-index: 10;	
  border-style: solid;
}
#participantUI {
  top: 20px;
  width: 120px;
  height: 600px;
  position: fixed;
  overflow: auto;
  z-index: 10;				
}
.actions {
  position: absolute;
  display: flex;
  bottom: 3%;
  left: 3%;
}
#spectatorDiv {
  width: 400px;
  height: 300px;
  position: fixed;
  z-index: 10;
  background-color: whitesmoke;  
  right: 1%;
  bottom: 5%;
}
.button {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  margin-right: 10px;
}
.controls {
  position: absolute;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  top: 0;
}
.controls p {
  font-family: monospace;
  color: white;
}

.volumen-wrapper {
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.led {				
  height: 6px;
  width: 8px;
  background-color: #292a38;
  box-shadow: -2px -2px 4px 0px #a7a7a73d inset, 2px 2px 4px 0px #0a0a0e5e inset;
  margin: 0 1px;
}
.g-btn {
  display: none;
}
.show {
  display: block;
}
.ava-btn {
  display: none;
}

